{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Bienvenue dans la gestion du Garage{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Utilisez le menu de gauche pour gérer votre stock de véhicules.
    </div>
    {# Tes stats ou raccourcis ici #}
{% endblock %}